// 主色/辅色
@main-color: #40566E;
@primary-color: #419EFF;
@mid-color: #9CB6D1;
@white: #fff;

// 文字色
@text-color: #333;
@text-color-mid: #666666;
@text-color-third: #999999;

// 边框、分割线、底色
@border-color-main: #ddd;
@border-color-mid: #eee;
@border-color-third: #f8f8f8;

// 特定颜色
@red: #FF6969;
@green: #4FBE11;
@origin: #FFA91F;



// layout 布局
@layout-header-height: 70px;
// @layout-header-padding: 0 50px;
@layout-header-background: white;
@layout-body-background: @border-color-mid;
@layout-sider-background: @main-color;
// @layout-footer-background: @layout-body-background;
// @layout-footer-padding: 24px 50px;
// @layout-trigger-height: 46px;
// @layout-trigger-background: #002140;
// @layout-trigger-color: #fff;
// @layout-zero-trigger-width: 36px;
// @layout-zero-trigger-height: 42px;

// Menu 菜单
// ---
@menu-inline-toplevel-item-height: 46px;
@menu-item-height: 46px;
@menu-collapsed-width: 64px;
// @menu-bg: @main-color;
// @menu-popup-bg: @main-color;
@menu-item-color: #666;
@menu-highlight-color: @primary-color;
@menu-item-active-bg: #758CFF;
// @menu-item-active-border-width: 3px;
// @menu-item-group-title-color: @text-color-secondary;
// dark theme
@menu-dark-color: white;
@menu-dark-bg: @main-color;
// @menu-dark-arrow-color: #fff;
@menu-dark-submenu-bg: #213045;

// @menu-dark-highlight-color: #fff;
@menu-dark-item-active-bg: @primary-color;


// Buttons
// @btn-font-weight: 400;
// @btn-border-radius-base: @border-radius-base;
// @btn-border-radius-sm: @border-radius-base;
// @btn-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
// @btn-primary-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
// @btn-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);

// @btn-primary-color: #fff;
// @btn-primary-bg: @primary-color;

// @btn-default-color: @text-color;
// @btn-default-bg: #fff;
// @btn-default-border: @border-color-base;

// @btn-danger-color: @error-color;
// @btn-danger-bg: @background-color-base;
// @btn-danger-border: @border-color-base;

// @btn-disable-color: @disabled-color;
// @btn-disable-bg: @disabled-bg;
// @btn-disable-border: @border-color-base;

// @btn-padding-base: 0 @padding-md - 1px;
// @btn-font-size-lg: @font-size-lg;
// @btn-font-size-sm: @font-size-base;
// @btn-padding-lg: @btn-padding-base;
// @btn-padding-sm: 0 @padding-xs - 1px;

// @btn-height-base: 32px;
// @btn-height-lg: 40px;
// @btn-height-sm: 24px;

// @btn-circle-size: @btn-height-base;
// @btn-circle-size-lg: @btn-height-lg;
// @btn-circle-size-sm: @btn-height-sm;

// @btn-group-border: @primary-5;

// Tooltip
// ---
// Tooltip max width
// @tooltip-max-width: 250px;
// // Tooltip text color
@tooltip-color: #333;
// Tooltip background color
@tooltip-bg: white;
// Tooltip arrow width
// @tooltip-arrow-width: 5px;
// // Tooltip distance with trigger
// @tooltip-distance: @tooltip-arrow-width - 1px + 4px;
// // Tooltip arrow color
@tooltip-arrow-color: @tooltip-bg;

// Table
// --
@table-header-bg: #F5FAFF;
@table-header-color: #8399B0;
// @table-header-sort-bg: @background-color-base;
// @table-body-sort-bg: rgba(0, 0, 0, 0.01);
// @table-row-hover-bg: @primary-1;
// @table-selected-row-bg: #fafafa;
// @table-expanded-row-bg: #fbfbfb;
// @table-padding-vertical: 16px;
// @table-padding-horizontal: 16px;
// @table-border-radius-base: @border-radius-base;