.ant-modal.ant-modal {
  .ant-modal-content {
    button {
      .ant-modal-close-x {
        width: 50px;
        height: 50px;
        line-height: 50px;
      }
    }
  }
  .ant-modal-header{
    background: #F5FAFF;
    height: 50px;
    padding: 15px 29px;
    background: #F5F6FA;
    .ant-modal-title {
      font-size: 14px;
      columns: #585A81;
      line-height: 20px;
    }
  }

  .ant-modal-body {
    min-height: 102px;
    padding: 40px 29px;
  }
  
  .ant-modal-footer {
    height: 58px;
  }

  &.ii-modal-confirm {
    .ant-modal-body {
      color: #8688A9;
    }
  }
}
