.riskModel-table-container {
  margin: -10px -20px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  .title {
    height: 20px;
    font-size:16px;
    color:rgba(51,67,85,1);
    font-weight:500;
    padding-left: 30px;
    border-left: 3px solid #CE2F30;
    margin-bottom: 20px;
  }
  .table-con {
    margin: 0 30px;
  }
  .table-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
  }
  .button {
    width:84px;
    height:36px;
    background:rgba(206,47,48,1);
    box-shadow:0px 8px 16px 0px rgba(206,47,48,0.4);
    border-radius:4px;
  }
  .button-type {
    width:84px;
    height:36px;
    border-radius:4px;
    border:1px solid rgba(206,47,48,1);
    color:#CE2F30;
  }
}
.category-model {
  font-size: 13px;
  color: #334355;
  .add {
    width:104px;
    height:27px;
    line-height:27px;
    box-shadow:0px 2px 8px 0px rgba(0,0,0,0.15);
    border-radius:4px;
    border:1px dashed rgba(216,224,232,1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .save {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .con {
    display: flex;
    flex-wrap: wrap;
    margin-top: 13px;
    .item {
      padding: 0 12px;
      height:27px;
      background: #f9f9f9;
      box-shadow:0px 2px 8px 0px rgba(0,0,0,0.15);
      border-radius:4px;
      border:1px solid rgba(216,224,232,1);
      margin: 0 10px 13px 0px;
      font-size: 13px;
      display: flex;
      align-items: center;
    }
  }
  .icon-box {
    transform: rotate(45deg);
    cursor: pointer;
  }
}
.mr10 {
  margin-right: 10px;
}
.ml10 {
  margin-left: 10px;
}