<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>实在智能</title>
</head>
<body>
  <div id="root"></div>
  <script src="//at.alicdn.com/t/font_1793736_vg2rvnwbmp.js"></script>
  <script src="//at.alicdn.com/t/font_1102171_cr1t056wig.js
  "></script>
</body>
</html>